<launch>
    <arg name="debug" default="false" />
    <arg name="showcase" default="false" />
    <node pkg="person_detection" name="person_detection" type="node.py" output="screen">
        <param name="debug" value="$(arg debug)" />
        <param name="showcase" value="$(arg showcase)" />
    </node>
</launch>